<nav class="navbar navbar-inverse"> 
   <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display --> 
    <div class="navbar-header"> 
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
     <a class="navbar-brand" href="#"> <img alt="Brand" src="{{static_url("logo.png")}}"="" /></a> 
   </div> 
   <!-- Collect the nav links, forms, and other content for toggling --> 
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
     <ul class="nav navbar-nav"> 
      {% if activeSr == "1" %}
              <li class="active"><a href="sell">收银 <span class="sr-only">(current)</span></a></li> 
              <li><a href="stocks">商品管理</a></li> 
              <li><a href="vip">会员</a></li> 
      {%elif  activeSr == "2" %} 
              <li><a href="sell">收银 <span class="sr-only">(current)</span></a></li> 
              <li class="active"><a href="stocks">商品管理</a></li> 
              <li><a href="vip">会员</a></li> 
      {%elif  activeSr == "3" %} 
              <li><a href="sell">收银 <span class="sr-only">(current)</span></a></li> 
              <li><a href="stocks">商品管理</a></li> 
              <li  class="active"><a href="vip">会员</a></li> 
      {%end%}
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">报表<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
          <li><a href="#">营业额报表</a></li> 
          <li><a href="#">商品销售报表</a></li> 
          <li><a href="#">库存报表</a></li> 
        </ul> 
      </li> 
    </ul> 
    <ul class="nav navbar-nav navbar-right pull-right" style="padding-right: 10px !important;"> 
      <li> <a class="" href="/auth/logout" data-toggle="tooltip" data-placement="bottom" data-original-title="退出"><i class="glyphicon glyphicon-log-out"></i> </a> </li> 
      <li style="margin-top:15px" class="dropdown"> <span class="img_gray" id="rotatespan"> 
        <!-- <img width="21px" height="21px" src="assets/img/online.png" class="img_gray" id="statusimg"/> --> <span id="net_icon" class="glyphicon glyphicon-refresh" style="color: rgb(0, 128, 0);" data-toggle="tooltip" data-placement="bottom" data-original-title="" title=""></span> </span> </li> 
        <!-- END USER LOGIN DROPDOWN --> 
      </ul> 
    </div> 
    <!-- /.navbar-collapse --> 
  </div> 
  <!-- /.container-fluid --> 
</nav> 